.timeline{
    display: flex;
    justify-content: flex-start;
    color: #989898;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    font-weight: 500;

}

.chevt{
    vertical-align: inherit;
    margin: 5px
}