@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #444;
  cursor: pointer;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}


/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
}

.chev {
  vertical-align: inherit;
  margin: 7px;
}

.thstyle{
  min-width: 110px;
  padding: 20px;
  font-weight: 400;
  border-right: 1px solid #e2e2e2;

}

#title{
  padding: 9px;
}

.barHead{
  padding: 20px;
  min-width: 110px;
}